<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Entrar</h3>
            <div class="formGroup">
                <input type="text" class="formControl" placeholder="Nome de Usuário" #usuarioNome required>
            </div>
            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #usuarioPassword required>
            </div>
            <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(usuarioNome, usuarioPassword)">
            </div>
            <div class="formGroup">
                <span class="or"><span class="orInner">Ou</span></span>
            </div>
            <div class="formGroup">
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                <i class="fab fa-google-plus-g"></i>Logar com Google
              </button>
            </div>
            <div class="esqueceuPassword">
                <span routerLink="/esqueceu-password">Esqueceu sua Senha?</span>
            </div>
        </div>
        <div class="redirectToLogin">
            <span>Não tem uma Conta?<span class="redirect" routerLink="/registro-usuario">Sair</span></span>
        </div>
    </div>
</div>